*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*
Inicio do cabeçalho do site
*/

/*

inicio da formatação de links
*/



/*
barra de contato email
*/

#email {
	color: white;
	margin-bottom: 0;
	padding-right: 452px;
	padding-left: 452px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	font-family: "EngraversGothic", Times, serif;
	background-color: #424242;
	position: fixed;
	z-index:1;
	letter-spacing: 3px;
	opacity: 0.8;

}

/*
cabeçalho
*/
#cabecalho{
	background:rgb(10, 68, 86);
	height: 175px;
}

/*
logo - para todas as paginas
*/
.logo{
	position: absolute;
	left: 50%;
	margin-top: 40px;
}

/*
menu 
*/

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    position: absolute;
    top: 140px;
    left: 350px;
    box-sizing:border-box;
    word-spacing: 25px;
}
#menu ul li { 
	border:1px solid #ff4700;
	border-radius: 20px;
	display: inline-block;
	background: #ff4700;
}

#menu ul li a {
    padding: 2px 10px;
    color: white;
}

/*
Fim do cabeçalho do site
*/

/*
inicio do quem somos 
*/

#qsomos {
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
	background: #D3D3D3;
}

#qsomos p{
	margin-left: 35px;
	margin-right: 35px;
	font-family:; 
}

#qsomos h1{
	font-family: "Cooper Black", serif, Times, arial;
	font-size: 30	px;
}

/*
Fim do quem somos
*/

/*
inicio do formulário de cadastro do email marketing
*/

#emailmkt{
	position: absolute;
	left: 392px;
	border-radius: 20px;
}

.botao{
	position: absolute;
	left: 100px;
	top: 320px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right:15px; 
	padding-left:15px;
	border-radius: 20px;
}

.texto{
	border-radius: 15px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 7px;
	padding-top: 7px;
}
body{
	background: rgb(10, 68, 86);
}

#emailmkt h1{
	margin-top: 40px;
	margin-left: 60px;
}
 .font{
 	font-size: 20px;
 }





